<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 Moses. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <moses_log>
            <rest>
                <status>0</status>
            </rest>
            <es>
                <status>0</status>
            </es>
            <graphql>
                <status>0</status>
            </graphql>
            <rabbitmq>
                <status>0</status>
            </rabbitmq>
        </moses_log>
    </default>
</config>
